@font-face {
    font-family: Gidole Regular;
    src: url(gidole_regular.ttf);
}

* {
    font-family: Gidole Regular;
    color: white;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}